@import "webfont/stylesheet.css";
/* <!--  lessc assets/less/custom.less > assets/styles/custom.css  --> */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
textarea,
select,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Arial Narrow', Arial;
  background: white;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
:focus {
  outline: 0;
}
::-webkit-input-placeholder {
  color: #869761;
  font-family: 'Arial Narrow', Arial;
}
:-moz-placeholder {
  /* Firefox 18- */

  color: #869761;
  font-family: 'Arial Narrow', Arial;
}
::-moz-placeholder {
  /* Firefox 19+ */

  color: #869761;
  font-family: 'Arial Narrow', Arial;
}
:-ms-input-placeholder {
  color: #869761;
  font-family: 'Arial Narrow', Arial;
}
.center {
  width: 1000px;
  margin: 0 auto;
  padding: 0px 30px 0px 30px;
}
.contacts {
  margin-top: 2%;
}
.contacts .contact-box {
  padding-left: 25px;
  padding-right: 25px;
  height: 550px;
  display: block;
  border-radius: 20px;
  border: solid 1px #97bf42;
}
.contacts .contact-box .menu {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
  color: #176492;
  font-size: 16px;
  line-height: 40px;
}
.contacts .contact-box .menu a {
  color: #176492;
  font-size: 16px;
}
.contacts .contact-box .menu input {
  background: transparent;
  width: 380px;
  color: #475428;
}
.contacts .contact-box .menu li {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid #d1d6da;
}
.contacts .contact-box .menu .search {
  background: #b3ca82;
  color: #869761;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  width: 480px;
  border-radius: 4px;
}
.contacts .contact-box .menu .menu-first {
  padding-left: 0px;
}
.contacts .contact-box .menu .menu-last {
  padding-right: 0px;
  border-right: 0px !important;
}
.contacts .contact-box .menu .menu-left {
  float: left;
}
.contacts .contact-box .menu .menu-right {
  float: right;
}
.contacts .contact-box .menu .menu-right .user-name {
  font-weight: bold;
  font-style: italic;
}
/*
.login {
	margin-top: 10%;
	.login-box {
		position: relative;
		height: 350px;
		border-radius: 20px;
		display: block;
		box-shadow: 0 0 15px 1px @green;
		h1 {
			color: @blue;
			font-size: 30px;
			text-align: center;
			line-height: 20px;
			padding-top: 30px;
			padding-bottom: 30px;
		}
		.blocks {
			width: 330px;
			height: 70%;
			border-right: solid 1px @grey;
			float: left;
			ul {
				margin-top: 20px;
				li {
					padding-left: 20px;
					margin-bottom: 5px;
					width: 290px;
					a {
						float: right;
						padding-top: 5px;
						font-size: 12px;
						color: @blue;
					}
					button {
						border-radius: 5px;
						width: 290px;
						color: @blue;
						background: @grey;
						line-height: 40px;
						margin-top: 20px;
						&:hover {
							background: darken(@grey, 20%);
							cursor: pointer;
						}
							
					}
					p {
						border-radius: 5px;
						color: @darkgreen;
						background: @lightgreen;
						line-height: 40px;
						padding-left: 25px;
						span {
							width: 20px;
						}
						input {
							padding-left: 15px;
							//width: 100px;
							color: @darkgreen;
							background: transparent;
						}
					}
				}
			}
			.logo {
				border-left: solid 1px @grey;
				float: right;
				img {
					display: block;
					position: absolute;
					top: 0;
					bottom: 0;
					right: 10px;
					margin: auto;
				}
			}
		}
	}
}
*/