/* <!--  lessc assets/less/custom.less > assets/styles/custom.css  --> */

@import "webfont/stylesheet.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, tt, var,
center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea, select, button,  
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'aller', sans-serif;
	background: #ebe7df;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

:focus {
	outline: 0;
}

@basecolor: #57c5a0;
@colorBlack: #242424;

.center {
	width: 940px;
	margin: 0 auto;
	padding: 0 230px 0 230px;
}

// navbar
.navbar {
	height: 45px;
	background: @colorBlack;
	
	// logo
	h1.logo {
		position: relative;
		top: 12px;
		left: 0px;
		
		&:hover {
			opacity: .8;		
		} 	
	}
	
	.nav-right {
		float: right;
		position: relative;
		z-index: 1;
		ul {
			overflow: hidden;
			li {
				float: left;
				a {
					display: block;
					padding: 0 25px;
					line-height: 45px;
					font-size: 11px;
					color: #7e7e7e;
					border-right: 1px solid #383838;
					&:hover {
						background-color: #333;
					
					}
				}
				&:first-child a {
					font-size: 15px;
				} 
			}
		}
	}
}


.menu {
	height: 60px;
	/* menu-left */
	ul.menu-left {
		float: left;
		border-right: 1px solid #eee;
		li {
			float: left;
			a {
				display: block;
				line-height: 60px;
				font-size: 16px;
				color: @colorBlack;
				border-left: 1px solid #eee;
				padding: 0 25px;
				&:hover {
					background: #eee;
					color: @basecolor;
				}
			}
		}
	}
	/* menu-right */
	ul.menu-right {
		float: right;
		border-right: 1px solid #ccc;
		li {
			float: left;
			a {
				display: block;
				padding: 0 25px;
				height: 60px;
				border-left: 1px solid #ccc;
				color: #6e6e6e;
				em {
					position: relative;
					top: 21px;
					margin-right: 5px;
				}
				span {
					position: relative;
					top: 21px;
					display: inline-block;
					min-width: 20px;
					height: 20px;
					background: #adadad;
					border-radius: 5px;
					text-align: center;
					font-size: 12px;
					color: #fff;
					font-weight: bold;
					line-height: 20px;
				}
				&:hover {
				background: #f5f5f5;
				color: @basecolor;
				}
			}
		}
	}
}

/* Slider*/
.slider {
	height: 551px;
	background: #2e2e2e;

	// slider-item
	.slider-item {
		background: #efede9;
		height: 461px;
		overflow: hidden;
		ul {
			position: relative;
			li {
				position: relative;
				top: 0;
				left: 0;
				width: 100%;
				img {
					position: absolute;
					top: 0;
					left: -100px;
					
				}
				span {
					position: absolute;
					left: 521px;
				}
				.price {
					width: 68px;
					height: 67px;
					background: @basecolor;
					color: #fff;
					font-weight: bold;
					font-size: 13px;
					text-align: center;
					line-height: 67px;
					top: 70px;
				}
				.title {
					font-size: 40px;
					font-weight: 300;
					color: @colorBlack;
					top: 150px;
					
				}
				.description {
					font-size: 20px;
					font-weight: 300;
					color: @colorBlack;
					width: 380px;
					top: 240px;
					line-height: 27px;
				}
				ul.icon-menu {
					position: absolute;
					left: 521px;
					top: 340px;
					li {
						float: left;
						width: 40px;
						height: 40px;
						background: #fff;
						margin-right: 2px;
						a {
							display: block;
							text-align: center;
							line-height: 40px;
							color: #6e6e6e;
							&:hover {
								color: @basecolor;
							} 
						}
					}
				}
			}
		}
	}
	/* slider-button */
	.slider-button	{
		ul {
		border-top: 10px solid #000;
		position: relative;
		top: 6px;
		padding: 0 0 0 6px;
		li {
			float: left;
			border-top: 6px solid transparent;
			margin-top: -8px;
			a {
				display: block;
				padding: 15px 48px 10px 40px;
				text-align: center;
				font-size: 18px;
				color: #acacac;
				span {
					display: block;
					font-size: 12px;
					color: #adadad;
					padding-top: 5px;
				}
				&:hover {
				color: #fff;
				}
			}
			&.active {
				border-color: @basecolor;
				a {
				color: #fff;
				}
			}
		}
				
		}
	}
}

// boxset 

.boxset {
	height: 230px;
	background: @colorBlack;
	ul {
		padding-top: 25px;
		li {
			float: left;
			width: 300px;
			height: 180px;
			position: relative;
			overflow: hidden;
			margin-right: 20px;
			a {
				display: block;
				&:hover {
					opacity: .8;
				}
				img {
					width: 300px;
					height: 180px;
				}
				.title {
					position: absolute;
					top: 60px;
					height: 60px;
					background: rgba(0,0,0,.7);
					width: 230px;
					left: -25%;
					margin-left: 115px;
					text-align: center;
					color: #fff;
					font-size: 25px;
					font-weight: 300;
					line-height: 60px;
				}
				
			}
			
			&:last-child {
			margin-right: 0;			
			}
		}
	}
}

// products
.products {
	padding: 20px 0;
	
	h6.title {
	font-size: 25px;
	color: @colorBlack;
	font-weight: 300;
	padding-top: 10px;
	padding-bottom: 10px;
	}
	
	// show-all
	.show-all {
		float: right;
		width: 98px;
		height: 28px;
		border: 1px solid #bcb5a7;
		text-align: center;
		color: #bcb5a7;
		font-weight: bold;
		font-size: 14px;
		line-height: 25px;
		&:hover {
		border-color: darken(#bcb5a7, 20%);
		color: darken(#bcb5a7, 20%);
		}
	}
}

// product-list
.product-list {
	ul {
		overflow: hidden;
		padding-top: 20px;
		li {
			float: left;
			margin-right: 20px;
			width: 300px;
			height: 269px;
			background: #fff;
			position: relative; 
			&:last-child {
				margin-right: 0;
			}
			.product-img {
				display: block;
				text-align: center;
				border-bottom: solid 2px #ccc;
				img {
					height: 220px;
				}
			}
			.price, .sale, .stock {
				position: absolute;
				width: 68px;
				height: 67px;
				bottom: 0;
				left: 12px;
				background: @basecolor;
				color: #fff;
				font-weight: bold;
				font-size: 13px;
				text-align: center;
				line-height: 67px;
			}
			.sale {
				bottom: auto;
				left: auto;
				top: 0;
				right: 12px;
				background: @colorBlack;
			}
			.stock {
				display: block;
				bottom: auto;
				left: auto;
				top: 0;
				right: 12px;
				background: #f27e4b;
				line-height: normal;
				span {
					position: relative;
					top: 19px;
				}
			}
			.title {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				text-indent: 95px;
				font-size: 18px;
				color: @colorBlack;
				line-height: 42px;
			}
			.product-icon {
				display: none;
				position: absolute;
				bottom: 10px;
				left: 95px;
				a {
					display: inline-block;
					padding: 0 10px;
					color: #6e6e6e;
					&:hover {
						color: @basecolor;
					}
				}
			}
		}
	}
}

// info-box
.info-container {
	margin-top: 21px;
	padding-top: 26px;
	border-top: solid 1px #7d7d7d;
	ul {
		overflow: hidden;
		li {
			float: left;
			width: 220px;
			height: 185px;
			margin-right: 20px;
			margin-bottom: 23px;
			background-color: #dfdbd4;
			
			.info-box {
				padding: 16px;
				h6 {
					line-height: 45px;
					font-size: 15px;
					font-weight: bold;
				} 
				p {
					line-height: 16px;
					font-size: 13px;
				}
			}

			&:last-child {
				margin-right: 0;
				margin-bottom: 14px;
				width: 460px;
				ul {
					overflow: hidden; 

					li {
						float: left;
						width: 36px;
						height: 36px;
						font-size: 14px;

						.date {
							position: relative;
							width: 36px;
							height: 36px;
							margin-right: 10px;
							background-color: @basecolor;
							color: #fff;
							line-height: 12px;
							font-size: 10px;
							font-weight: bold;
							text-align: center;
							span {
								position: relative;
								top: 6px;
							}
						}						

						h6 {
							
							line-height: normal;
						}

						p {
							line-height: normal;
						}
						&:last-child {
							width: 300px;
						}
					}
				}
			}
		}
	}
}

/* footer */ 

.footer {
	height: 366px;
	background: @colorBlack;
	.widget {
		float: left;
		width: 251px;
		height: 195px;
		margin-right: 54px;
		margin-top: 51px;
		&.text {
			margin-left: 26px;
		}
		h6 {
			font-size: 15px;
			margin-bottom: 24px;
			color: #7d7d7d;
		}
		p {
			font-size: 13px;
			font-style: italic;
			margin-bottom: 12px;
			color: #a4a4a4;
			line-height: 16px;
			a {
				color: @basecolor;
			}
			&.tw-bold {
				font-size: 13px;
				font-style: italic;
				margin-bottom: 16px;
				line-height: normal;
				color: #a4a4a4;
			}
		}
		&.flicker {
			width: 245px;
			margin-right: 0;
		}
	}
	.contacts {
		margin-top: 5px;
		border-top: 1px solid #1c1c1c;
		.email-submit {
			float: left;
			margin-top: 37px;
			margin-left: 26px;
			background: #2e2e2e;
			width: 250px;
			height: 35px;
			input {
				width: 196px;
				height: 35px;
				background: transparent;
				padding-left: 14px;
				padding-top: 1px;
				font-size: 12px;
				font-style: italic;
			}
			button {
				width: 35px;
				height: 35px;
				background-color: #7d7d7d;
				em {
					display: block;
					text-align: center;
					color: #2e2e2e;
				}				
			}
		}
		ul {
			float: right;
			position: relative;
			margin-top: 37px;
			li {
				float: left;
				width: 36px;
				height: 36px;
				background-color: #2e2e2e;
				margin-right: 8px;
				
				&:last-child {
					margin-right: 60px;
				}
				a {
					display: block;
					text-decoration: none;
					line-height: 36px;
					font-size: 18px;
					text-align: center;
					color: #7d7d7d;
				}
			}
		}
	}
}

/* copyright */
.copyright {
	height: 89px;
	background-color: #2e2e2e;
	color: #969696;
	font-size: 12px;
	line-height: 16px;
	.copyright-left {
		float: left;
		padding-top: 30px;
	}
	.copyright-right {
		float: right;
		padding-top: 40px;
		a {
			text-decoration: none;
			color: #969696;
			
		}
	}
}